*
{
    /* outline: solid 3px orangered; */
}

header
{
    position: relative;
}

logoAndText
{
    display: inline-block;

}

/* font-family: 'Yellowtail', cursive;

font-family: 'IBM Plex Mono', monospace;

font-family: 'PT Mono', monospace; */



 /* "DELICIOUS" */
.logoText1
{
    position: absolute;
    display: inline-block;
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
    margin-top: -0.2em;
    margin-left: 0.1em;
}

/* THE BEST FOOD BLOG ON THE WEB.  */
.logoText2
{
    position: absolute;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.6em;
    margin-top: 3.6em;
    margin-left: 1em;
    letter-spacing: -0.3px;
}

.socialIcons
{
    position: absolute;
    display: inline-block;
    margin-left: 30em;
    margin-top: -2.5em;
}

#pinterestIcon
{
    margin-right: 0.7em;
}

/* two ways to make this strange slash line */
.slashesBetweenBlocks
{
    letter-spacing: -0.1em;
    color: gray;
}

.slashLine
{
    padding: 1.5em 0em 1.5em 0em;
}

/* ///////////////////////////////////////////////////////// */


 /* BODY */


/* ///////////////////////////////////////////////////////// */











/* ///////////////////////////////////////////////////////// */
 /* FOOTER */
 #vanessaName
 {
    font-weight: bold;
    margin-left: 6em;
    margin-bottom: 1
 }
 #vanessaNameBold
 {
    font-weight: bold;
    margin-bottom: 1.3em;
 }
#vanessaQuote
{
    margin-left: 6em;
    margin-top: -5.5em;
}
#vanessaQuoteSmall
{
    font-size: 0.9em;
}

#redButton
{
    font-family: 'IBM Plex Mono', monospace;
    block-size: 100%;
    letter-spacing: -0.1em;
    width: 11em;
    height: 3em;
    color: white;
    display: block;
    opacity: 1;
    background: #cf5e5e;
    margin-left: 43em;
    margin-top: -5em;
}

 /* EVERYTHING BELOW LINE_LOGO_LINE */
footer
{
    position: relative;
    margin-top: 8em;
}


#lineAtFooter1
{
    opacity: 0.3;
    position: absolute;
    width: 47%;
    margin-top: 0em;
}

#lineAtFooter2
{
    opacity: 0.3;
    width: 43%;
}

#footerLogo
{
    position: absolute;
    left: 50%;
    margin-top: -1em;
}

.veryBottom
{
    opacity: 0.3;
    text-align: center;
    margin-left: 1.8em;
    margin-top: 3em;
}

 /* CHANGE THIS FONT!!!!!  */
.veryBottomP
{
    margin-top: -0.8em;
    letter-spacing: -0.1em;
}